[[headers]]
  for = "/*"
  [headers.values]
    Strict-Transport-Security = "max-age=31536000; includeSubDomains; preload"
    X-Frame-Options = "DENY"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin"
    Permissions-Policy = "geolocation=(), microphone=(), camera=()"
    Content-Security-Policy = "default-src 'self'; script-src 'self' https://unpkg.com 'sha256-6vZheb+RCP1KcMRpIqMQHw+FvVWhbyBT+X8FKCqfGzU='; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com; img-src 'self' data: https:; connect-src 'self' https://unpkg.com; worker-src 'self' blob:; child-src 'self' blob:; upgrade-insecure-requests;"

[[redirects]]
  from = "/indexguard"
  to = "/indexguard/"
  status = 301
  force = true
